* {
    font-family: Helvetica, sans-serif;
    background-color: rgb(37, 36, 35);
}

h1 {
    color: rgb(255, 1, 158);
    font-size: 1.5em;
}
h2 {
    color: rgb(255, 1, 158);
    font-size: 1.1em;
}

h3 {
    color: rgb(255, 1, 158);
    font-size: 1.1em;
}

p {
    color: white;
    text-indent: 50px;
}

ul {
    color: white;
}

section {
    width: 500px;
 }

 ol {
    color: white;
}

 h5 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 2em;
    padding: 50px 20px;
    text-align: left;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}

/* I would like to use this fancy text in my project, but I've not found a place for it yet. */

 .deepshadow {
    color: #e0dfdc;
    background-color:rgb(32, 31, 30);
    letter-spacing: 0.1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a,
      0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
      0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a,
      0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212,
      0 22px 30px rgba(0, 0, 0, 0.9);
  }